.blogPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.postCardsContainer {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  justify-content: center;
}
