@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

a {
  &.active {
    @apply text-blue-700;
    font-weight: bold;
  }

  &:hover {
    font-weight: bold;
    @apply text-blue-400;
    /* text-decoration: underline; */
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }
}

.modern-layout {
  /* background: white;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

@layer base {
  h1 {
    @apply text-7xl text-gray-600;
    font-weight: 800;
    margin-bottom: 1.5rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid #acadae;
  }
  h2 {
    @apply text-5xl text-gray-700;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  h3 {
    @apply text-xl text-gray-600;
    font-weight: 300;
    margin-bottom: 0.75rem;
  }
  h4 {
    @apply text-2xl text-gray-500;
    font-weight: 300;
  }
  p {
    @apply text-xl text-gray-600 leading-relaxed mb-6;
    line-height: 1.75;
    margin-bottom: 2rem;
  }
}

@layer utilities {
  .border-b-gradient {
    border-bottom-width: 1px; /* Adjust the width of the border as needed */
    border-image: linear-gradient(
        to right,
        transparent 10%,
        black 50%,
        transparent 90%
      )
      1;
  }
}
